@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
}
.container{
    position: relative;
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
svg{
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;    
}
.content{
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    position: relative;
    z-index: 0;
}
.logo{
    object-fit: contain;    
    width: 300px;
    border-radius: 10px;
}
h1{
    color: #242323;
    margin-bottom: 0.5rem;
}
p{
    color: #666;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="email"]{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 0.5rem;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
button:hover{
    background-color: #7a1dd1;
}

