/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==========================
Custom Styles
==========================
*/

.title{
    text-align: center;  
	font-size: 40px;
	display: flex;
	justify-content: center;
	font-weight: 800;
	padding: 30px;
}

#imgcontainer{
	background-image: linear-gradient(to bottom right, #007adf 0%, #00ecbc 100%);
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Info */
.info{
	background-color: black;
	width: 400px;
	height: 100px;
	white-space: nowrap;
	margin: 0 auto;
	padding: 10px;
	background-image: linear-gradient(to bottom right, #434343 0%, black 100%);
	border-radius: 8px;
	color: white;
	font-family: 'ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	display: flex;
	box-sizing:content-box;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
strong{
	font-weight: 800;
}

